{% extends "base.html" %}
{% block title %}List of Items{% endblock %}



{% block content %}

  <h1>Lista przedmiotów</h1>
  <div class="items-grid">
    {% for item in items %}
      <div class="item">
        <img src="{{ url_for('static', filename=item.img) }}" alt="Opis zdjęcia">
        <p>Id: {{ item.id }}, Nazwa: {{ item.name }}</p>
        <p>Opis: {{ item.description }}</p>
        <p>Rozmiar: {{ item.size }}, Cena: {{ item.price }} zł</p>
        <form action="{{ url_for('views.delete_item', item_id=item.id) }}" method="post">
          <button type="submit">Usuń</button>
        </form>
      </div>
    {% endfor %}
  </div>

{% endblock %}

